.header
  .wrapper
    .offer
      Работа с 1С. Просто. Качественно. Удобно.
    .phone
      +7 (495) 500-50-50


.block.special-offer.animated-background#special-banner
  %h1
    С 1 по 30 июня
  .description
    %p
      4 часа работы специалиста в подарок каждому заказчику!


.wrapper

  .benefits-header
    Наши преимущества:

  .benefits
    .benefit
      .title
        %h5
          Высокое качество
      .description
        %p
          Богатый опыт наших сотрудников позволяет решать задачи любой сложности
    .benefit
      .title
        %h5
          Удобство
      .description
        %p
          Вы видите всю информацию о нашей работе в режиме онлайн
    .benefit
      .title
        %h5
          Индивидуальность
      .description
        %p
          Эффективные решения именно для Вашего бизнеса
    .benefit
      .title
        %h5
          Оперативность
      .description
        %p
          Мы решаем задачи в рекордно короткие сроки



.area
  .wrapper
    .solutions-header
      Наши решения:

    .solutions
      .solution
        .head-line
          .icon
            .crm-icon
          .title
            %h5
              Собственная система учета задач
        .description
          %p
            Хотите самостоятельно утверждать все задачи,
            исходящие от Ваших сотрудников? Иметь возможность увидеть детальный отчет об
            обращениях и задачах специалистов 1С онлайн? Накапливать собственную базу знаний
            о тонкостях работы в 1С именно для Вашего предприятия? В этом вам поможет наша
            система учета задач!


      .solution
        .head-line
          .icon
            .zero-olo
          .title
            %h5
              Опыт внедрения 1С «с нуля»
        .description
          %p
            Уметь программировать в 1С: Предприятие и способность
            грамотно составить систему бизнес-процессов, прописать понятные инструкции, составить
            информативную и достоверную систему отчетности – не одно и то же. Мы всегда
            предложим оптимальные решения для Вашего бизнеса



      .solution
        .head-line
          .icon
            .optimization-icon
          .title
            %h5
              Оптимизация стоимости выполнения задач
        .description
          %p
            Каждая задача анализируется
            с точки зрения срочности. Мы готовы выполнять горящие задачи в рекордные сроки,
            приступая немедленно, при получении таковой за разумную наценку и минимизируем
            стоимость обычных задач за счет грамотного планирования времени сотрудников.


      .solution
        .head-line
          .icon
            .low-cost-icon
          .title
            %h5
              Адекватная стоимость услуг по сопровождению
        .description
          %p
            Мы максимально оптимизируем свои
            затраты, привлекая талантливых специалистов из других городов, постоянно накапливая
            готовые решения, поручая вспомогательную работу (тестирование, составление
            документации) помощникам специалистов, что, в итоге, позволяет Вам сэкономить свои
            деньги.


      .solution
        .head-line
          .icon
            .garant-icon
          .title
            %h5
              Гарантия качества
        .description
          %p
            На все наши работы, выполненные по техническим заданиям
            действует гарантия на качество – любые несоответствия исправляются бесплатно в
            течение 6 месяцев с момента выполнения задачи.


      .solution
        .head-line
          .icon
            .result-icon
          .title
            %h5
              Ориентированность на результат
        .description
          %p
            Мы считаем, что все выполняемые нами задачи
            должны быть полезны. Если изменения, которые Вы хотите внести в программу 1С, на наш
            взгляд, не приведут к желаемому экономическому эффекту, мы обязательно предупредим
            Вас об этом и дадим свои рекомендации.


.area.with-top-border
  .wrapper
    .prices-header
      Наши цены

    %table.prices-table
      %thead
        %tr
          %td.empty
          %td
            до 10 часов
          %td
            10-24 часов
          %td
            Свыше 25 часов


      %tbody

        %tr
          %td.first
            Час работы специалиста
            %br
            %strong
              (программирование)
          %td
            1 500 рублей
          %td
            1 400 рублей
          %td
            1 300 рублей


        %tr.last
          %td.first
            Час работы специалиста
            %br
            %strong
              (обучение)
          %td
            1 000 рублей
          %td
            900 рублей
          %td
            800 рублей






#thank-you
  %h2
    Спасибо за обращение!
  Мы свяжемся с вами уже очень скоро.

.wrapper
  #form
    .left-part
      .title
        Оставьте заявку и с вами свяжется наш менеджер
      .comment
        %p
          Срок обработки заявки - не более 4-х часов в будние дни. Если мы не связались с вами в течение этого времени
          не стесняйтесь - позвоните сами.

    .right-part
      %form

        .error.name-error
          Вы забыли написать имя!
        %input{placeholder: 'Ваше имя', name: :username}
        .error.phone-error
          Вы забыли написать номер телефона
        %input{placeholder: 'Номер телефона', name: :userphone}
        %textarea{placeholder: 'Комментарий к заявке', name: :comment}
        .submit.animated-background#submit-order
          Отправить заявку




#footer
  ООО "Андрюшка уберись на кухне", +7 495 500 50 50
